@import url('./../App.css');

a:hover,
.nav-link:hover
{
    text-decoration: none;
    color: var(--mainColor2) !important;
  }
  
a,
.nav-link
{
  color: var(--mainColor3) !important;
}

.dropdown-item a{
  text-decoration: none;
  color: var(--mainColor2) !important;
}

.ddl-comp{
  color: var(--mainColor3) !important;
}

.navbar-comp{
    background-color: var(--mainColor);
    max-height: auto;
    padding: 0.5rem 1.7rem;
}

.navbar-brand{
  font-size: 1.3rem;
  padding: 0.5rem;
}

.dropdown-item a{
  color: var(--mainColor2);
}

.btn-secondary,
.btn-primary
{
  background-color: var(--mainColor2);
}

.btn-secondary:hover,
.dropdown-item:active
{
  background-color: var(--mainColor3);
  border-color: var(--mainColor3);
}

.input-search{
  width: 17rem;
}

.navbar-fixed{
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}