@import url('./../App.css');

.card-header{
    background-color: var(--mainColor);
}

.filter-container{
    position: sticky;
    top: 66px;
}

.button-filter{
    cursor: pointer;
}

.button-filter .card-header:hover{
    background-color: var(--mainColor2);
}