.picture-productcard{
    padding: 0.5rem 3.1rem;
    position: relative;
    margin: 0 0.3rem;
}

.picture-productcard img{
    vertical-align: center;
    max-width: 100%;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.picture-productcard img:hover{
    filter: grayscale(0);
    transform: scale(1.05) translateY(-2%);
}

.label-productcard{
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.link-productcard{
    color: black !important;
}

.oriprice-productcard{
    text-decoration: line-through;
    font-size: small;
}

.productcard:hover{
    box-shadow: 1px 2px 5px #a8aee7;
}

.productcard{
    color: var(--colorMain2); 
}

.card-body{
    padding-bottom: 0.6rem;
}

.card-text{
    margin-bottom: 0.6rem;
    background-color: #e2fdfd;
}