@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Open+Sans:wght@300;400;600&display=swap');

:root{
  --colorMain : #327dc8;
  --colorMain2 : #08498a;
  --colorMain3 : #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid{
  margin: 1rem 0 1.3rem;
}
