@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Open+Sans:wght@300;400;600&display=swap');

:root{
  --mainColor : #327dc8;
  --mainColor2 : #08498a;
  --mainColor3 : #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-family: 'Open Sans', sans-serif;
}

.main{
  background-color:#e7f4ff;
  /* background-color:#fff; */
}

.container-fluid{
  margin: 1rem 0 1.3rem;
  min-height: 300px;
}
